# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/

# Zip files that might be dowrloaded at some point
*.zip

Other files
*.png
*.csv
/*.tar.gz
*_files/
*.pth
*/birch3.txt
*/.DS_Store
*.npz

Traffic_Forecast/data/
Traffic_Forecast/runs/
Traffic_Forecast/HPC/runs/
Traffic_Forecast/HPC/data/
Traffic_Forecast/final_models/data/
